body{
    margin: 0;
    padding: 0;
}
#app5{
    width: 100%;
    height: 100vh;
    background-color: #F2F6FC;
}
#up{
    width: 100%;
    height: 32%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    /* background-color: aqua; */
}
#down{
    width: 100%;
    height: 68%;
    display: flex;
    flex-wrap: nowrap;

}
#down #left,#right{
    width: 50%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: pink; */
}
#main1,#main2{
    width: 98%;
    height: 90%;
    background-color: white;
}
#content{
    width: 100%;
    height: 7%;
    /* background-color: black; */
}

#up div{
    width: 22%;
    height: 95%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h3{
    text-align: center;
    /* background-color: red; */
    color: #303841;
}
table{
    /* background-color: red; */
    width: 70%;
    height: 60%;
}