body{
    margin: 0;
    padding: 0;
}
#app2{
    width: 100%;
    height: 100vh;
    background-color: #F2F6FC;
}
#up{
    width: 100%;
    height: 12%;
    /* background-color: #F2F6FC; */
    /* background-color: red; */
}
#down{
    width: 100%;
    height: 88%;
    background-color: white;
    position: relative;
}
.block{
    width: 100%;
    height: auto;
    background-color: #F2F6FC;
    /* background-color: red; */
    position: absolute;
    text-align: center;
    bottom: 0;
}
#left{
    height: 100%;
    width: 40%;
    float: left;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
#left div:nth-child(1){
    width: 75%;
    height: auto;
    /* background-color: red; */
}
#right{
    height: 100%;
    width: 50%;
    float: right;
    /* background-color: aqua; */
    display: flex;
    justify-content:right;
    align-items: center;
    flex-direction: row;
}