<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>主页</title>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./element-ui/lib/theme-chalk/index.css">
    <script src="./js/vue.js"></script>
    <script src="./element-ui/lib/index.js"></script>
    <script src="./js/axios.min.js"></script>
    <style>
        .avatar-uploader{
          /* background-color: aqua; */
          text-align: right;
        }
        .el-upload{
          width: 70px;
          height: 70px;
          display: flex;
          justify-content: center;
          align-items: center;
          float: right;
          border: 1px dashed #d9d9d9;
          /* background-color: red; */
        }
        .avatar-uploader .el-upload:hover {
          border-color: #409EFF;
        }
        .avatar {
            width: 70px;
            height: 70px;
            display: block;
        }
    </style>
</head>
<body>
    <div id="app">
        <div id="head">
            <span class="title">
                超市管理平台    
            </span>
            <div class="block">
                <el-avatar :size="45" :src="circleUrl"></el-avatar>
            </div>
            <div id="uuname">
                <el-dropdown @command="handleCommand">
                    <span class="el-dropdown-link" id="biao">
                      <i class="el-icon-user-solid"> </i>
                      <span>{{username}}</span>
                    </span>
                    <el-dropdown-menu slot="dropdown">
                      <el-dropdown-item command="a">编辑</el-dropdown-item>
                      <el-dropdown-item command="b">退出</el-dropdown-item>
                      <!-- <el-dropdown-item command="c">螺蛳粉</el-dropdown-item> -->
                    </el-dropdown-menu>
                  </el-dropdown>

                  <el-dialog title="个人信息" :visible.sync="dialogFormVisible" :before-close="handleClose">
        
                    <el-form :model="form">
                      
                      <el-form-item label="用户头像" :label-width="formLabelWidth">
                          <el-upload
                                  class="avatar-uploader"
                                  action="commons/upload"
                                  :show-file-list="false"
                                  :on-success="handleAvatarSuccess"
                                  :before-upload="beforeAvatarUpload">
                              <img v-if="imageUrl" :src="imageUrl" class="avatar">
                              <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                          </el-upload>
                      </el-form-item>
                      <el-form-item label="用户编号" :label-width="formLabelWidth">
                        <el-input v-model="form.id" autocomplete="off" size="small"></el-input>
                      </el-form-item>
                      <el-form-item label="用户账号" :label-width="formLabelWidth">
                        <el-input v-model="form.name" autocomplete="off" size="small"></el-input>
                      </el-form-item>
                      <el-form-item label="用户密码" :label-width="formLabelWidth">
                        <el-input v-model="form.password" autocomplete="off" size="small"></el-input>
                      </el-form-item>
                    </el-form>

                    <div slot="footer" class="dialog-footer">
                      <el-button @click="dialogFormVisible = false" size="small">取 消</el-button>
                      <el-button type="primary" @click="saveUser" size="small">保 存</el-button>
                    </div>
                  </el-dialog>
                  
            </div>
        </div>
        <div id="foot">
            <div id="left">
                <ul onclick="getClickedLi(event)">
                    <li><a href="./home.html" target="left_contents"><i class="el-icon-s-home"></i> 超市详情</a></li>
                    <li><a href="./employee.html" target="left_contents"><i class="el-icon-user-solid"></i> 员工管理</a></li>
                    <li><a href="./product.html" target="left_contents"><i class="el-icon-s-goods"></i> 商品管理</a></li>
                    <li><a href="./order.html" target="left_contents"><i class="el-icon-s-order"></i> 销售清单</a></li>
<!--                    <li><a href="./favorable.html" target="left_contents"><i class="el-icon-s-tools"></i> 优惠管理</a></li>-->
                </ul>
            </div>
            <!-- 内容展示区 -->
            <div id="right">

                <iframe src="./home.html" name="left_contents" frameborder="0" width="99%" height="98%" ></iframe>
            </div>
        </div>
    </div>
</body>
<script>
    new Vue({
      el: '#app',
        created(){
            let search = window.location.search;

            let urlParams = new URLSearchParams(search);

            let id = JSON.parse(urlParams.get('id'))

            axios({
                url:`users/info/${id}`,
                method:'GET'
            }).then(result => {
                console.log(result.data.data)
                this.form.id=result.data.data.id
                this.form.name=result.data.data.username
                this.form.password=result.data.data.password
                this.form.imgName=result.data.data.img
                this.username=result.data.data.username
                this.circleUrl='commons/down?name='+this.form.imgName
                this.imageUrl='commons/down?name='+this.form.imgName
                this.oldform=JSON.stringify(this.form)
            })
            console.log(id)
        },
        mounted(){
            // console.log(this.form.imgName)
        },
      data () {
      return {
          urlImg:'commons/upload',
        circleUrl: '',
        username:'',
        dialogFormVisible: false,
        imageUrl: '',
          oldform:{},
        form: {
          id:'',
          name: '',
          password:'',
            imgName:'',
          region: '',
          delivery: false,

        },
        formLabelWidth: '120px'
      }
    },
    methods: {
      handleCommand(command) {
        // this.$message('click on item ' + command);
       console.log(command)
       if(command=='a'){
            // console.log("点击了编辑")
            this.dialogFormVisible=true
           // this.form.id=1
           // this.form.name="张三"
           // this.form.password="123"
       }else if(command=='b'){
            // console.log("点击了退出")
            window.location.href="login.html"
       }
      },
      handleClose(done) {
        this.$confirm('确认关闭？')
          .then(_ => {
            done();
          })
          .catch(_ => {});
      },
      handleAvatarSuccess(res, file) {
          console.log("上传成功！")
          console.log(res)
          this.form.imgName=res.data
        this.imageUrl = URL.createObjectURL(file.raw);
          console.log(this.imageUrl)
      },
      beforeAvatarUpload(file) {
        const isJPG = file.type === 'image/jpeg';
        const isPNG = file.type === 'image/png';
        const isLt2M = file.size / 1024 / 1024 < 2;

        if (!isJPG && !isPNG) {
          this.$message.error('上传头像图片只能是 JPG或者PNG 格式!');
        }
        if (!isLt2M) {
          this.$message.error('上传头像图片大小不能超过 2MB!');
        }
        return (isJPG || isPNG) && isLt2M;
      },
        saveUser(){
            if(JSON.stringify(this.form)!=this.oldform){
                // axios()
                console.log("改变了")
                console.log(this.form.imgName)
                axios({
                    url:'users',
                    method: 'PUT',
                    data:{
                        id:this.form.id,
                        username:this.form.name,
                        password:this.form.password,
                        img:this.form.imgName
                    }
                }).then(result => {
                    console.log(result.data.data)
                    if(result.data.data==true){
                        this.$message({
                            showClose: true,
                            message: '身份信息已更新，请重新登录！',
                            type: 'warning'
                        });
                        setTimeout("setOut()",2000)
                    }
                })
                this.dialogFormVisible = false
            }else{
                console.log("没有改变")
            }
        }
   
    }
    })
  </script>
  <script>
      function getClickedLi(event) {
        var target = event.target;
        if (target.tagName==='A' || target.target==='I') {
          const ar = document.querySelectorAll('a')
          for(i=0;i<ar.length;i++){
            ar[i].style.color="white"
          }
          target.style.color = "yellow";
        }

      }
      function getId(){
          window.location.search("id")
      }
      function setOut(){
          window.location.href='login.html';
      }
  </script>
</html>